/OneDrive/Documenti/NetBeansProjects/Rubrica/target/
/target/
# IDE-specific files
nbproject/private/
build/
dist/
*.iml
*.ipr
*.iws
*.class

# Logs
*.log

# System files
.DS_Store
Thumbs.db
*.exe
*.ini
*.dat

# Others
.vscode/
