/OneDrive/Documenti/NetBeansProjects/ProducerConsumer/ProducerConsumer/nbproject/private/
/OneDrive/Documenti/NetBeansProjects/ProducerConsumer/ProducerConsumer/build/
/OneDrive/Documenti/NetBeansProjects/GestioneAeroporto/GestioneAeroporto/nbproject/private/
/OneDrive/Documenti/NetBeansProjects/GestioneAeroporto/GestioneAeroporto/build/
/OneDrive/Documenti/NetBeansProjects/Esercitazione_IO/nbproject/private/
/OneDrive/Documenti/NetBeansProjects/ElencoTelefonico/ElencoTelefonico/target/
/OneDrive/Documenti/NetBeansProjects/Esercitazione_IO/build/
/OneDrive/Documenti/NetBeansProjects/Rubrica/target/
/OneDrive/Documenti/NetBeansProjects/GestioneRistorante_Thread/nbproject/private/
/OneDrive/Documenti/NetBeansProjects/GestioneRistorante_Thread/dist/
/OneDrive/Documenti/NetBeansProjects/GestioneRistorante_Thread/build/
